@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black-color: 18 18 18;
    --yellow-color: 242 180 61;
    --orange-color: 234 88 12;
    --red-color: 220 38 38;
    --highlight-color: 60 64 68;
    --frame-color: 217 217 217;
  }
}

body {
  height: 100vh;
}

html.dark {
  background-color: #121212;
}
